/****************************
GENERAL SETTINGS
****************************/

body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;  
	padding: 0;
	background-color: #BCC6CC;
}

a {
	text-decoration: none;
}

*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after { 
		content: " ";
		display: table;
		clear: both;
}



/****************************
HEADER SETTINGS
****************************/

header {
	display: flex;
	padding-left: .75rem;
	padding-right: .75rem;
	justify-content: space-between;
	background-color: #D3D3D3;
	padding-bottom: 1.2rem;
}

#hamburger-icon {
	margin-right: 1rem;
}

#app-headline {
	margin-top: .25rem;
	margin-left: 4.1rem;
	margin-right: auto;
}

#app-headline h1 {
	font-size: 1.2rem;
	color: #654597;
}

#bell-icon, #user-picture {
	margin-top: 1rem;
}

.bell-icon {
	margin-right: .4rem;
}

#bell .st0 {
	fill: #830065;
}

#bell {
  width: 30x;
  height: 30px;
  position: relative; /* MUST POSITION PARENT ELEMENT FOR PSEUDO ELEMENTS TO APPEAR*/
}

#bell-icon {
	position: relative;
}

#bell-icon::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #33ff33;
    height: 1.5px;
    width: 1.5px;
    border-radius: 50%;
    background: #33ff33;
    margin-left: 1.1rem;
	bottom: 100%;
}

.profile-image {
	width: 30x;
	height: 30px;
	border-radius: 50%;
}

/****************************
HAMBURGER MENU SETTINGS
****************************/

#hamburger-icon {
	margin-top: 1rem;
}

.menu-link {
	position: absolute;
	font-size: 1.2rem;
}

.menu-link:link,
.menu-link:visited {
  color: #C5E7E2;
  background: #AA78A6;
  border-radius: 4px;
  padding: .2rem .4rem;
}

.menu-link:hover,
.menu-link:active {
  color: #B9FFB7;
  background: #654597;
}

/****************************
SLIDE SETTINGS
****************************/

.wrap {
    position: relative;
}

.panel {
    position: fixed;
    left: 4.5rem; /*left or right and the width of your navigation panel*/
    width: 4.5rem; /*should match the above value*/
}

/********************************
SVG NAV LOGOS AND MENU SETTINGS
********************************/

#dashboard .st0 {
	fill: #f5f5f5;
}

#members .st0, #visits .st0, #settings .st0 {
	fill: #9932CC;
}

#dashboard, #members, #visits, #settings {
	width: 30x;
	height: 30px;
}

#menu {
	background-color: #8EA9B9;
}

#svg-icons {
	display: flex;
    flex-direction: column;
}

#dashboard-icon, #members-icon, #visits-icon, #settings-icon {
	padding-top: 2rem;
	text-align: center;
}

/****************************
SEARCH SECTION
****************************/
#search-headline {
	font-size: 1.15rem;
	color: #9F86C0;
	margin-top: .45rem;
}

#search-section {
	padding-top: 1.25rem;
	padding-left: .75rem;
	padding-right: .75rem;
	display: flex;
	position: relative;
	justify-content: space-between;

}

#search-section::after {
	position: absolute;
	border-left: 1.75px solid #4d4d4d;
	content: "";
	height: 60px;
	margin-left: 0rem;
	top: 0px;
	right: 0px;
	left: 115px;
	border-bottom: 1.75px solid #4d4d4d;
	padding-bottom: .15rem;
	background-color: #6F7D8C;
}

#searchbox_div {
	z-index: 1;
}


#search_icon {
	width: 15x;
	height: 15px;
	position: absolute;
	margin-left: 160px; 
	bottom: 28%;
}

#search_box {
	border-radius: 5px;
	margin-left: 1.5rem;
	padding: 5px 0 5px 10px;
	width: 10rem;
	border: 2px solid #8B008B;
	font-family: 'Ubuntu', sans-serif;
	font-size: .95rem;
	color: #7B68EE;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

#search_box:focus {
	outline: none;
	border: 3px solid #9F86C0;
	
}

/****************************
ALERT MESSAGE
****************************/

.alert_message {
	padding-left: .75rem;
	padding-right: .75rem;
	margin-top: 1.75rem;
}

.alert_message strong {
	word-spacing: 8px;
}

.alert_message p {
	background: #4B0082;
	color: #f5f5f5;
	padding: .75rem;
	border-radius: 5px;
	font-size: .90rem;
}

.alert_message span {
	position: absolute;
	font-size: 1.45rem;
	font-weight: bold;
	margin-left: 180px;
}

.alert_message span:hover,
 .alert_message span:focus {
	cursor: pointer;
}

/****************************
CHART SECTION
****************************/
.chart-section {
	margin-top: 1.5rem;
}

.lineChartSection, .barChartSection, .donutChartSection {
	position: relative;
	padding-right: .5rem;
	padding-left: .5rem;
}

.chart-section ul {
	display: flex;
	margin-top: 0;
	justify-content: space-between;
	padding-left: .75rem;
	padding-right: .75rem;
	margin-bottom: 1rem;
}

.chart-section ul li {
	margin-right: .25rem;
	margin-left: .25rem;
	font-size: .85rem;
	background-color: #6F7D8C;
	padding: 7px 8px;
	border-radius: 10px;
	color: #f5f5f5;
	margin-bottom: 1.25rem;
}


.chart-section h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.15rem;
	color: #9F86C0;
	padding-left: .75rem;
	padding-right: .75rem;
}

.chart-section ul li:hover,
.chart-section ul li:focus {
	cursor: pointer;
	color: #e8c8b4;
}

.chart-section .selected {
	background-color: #B19CD9;
}

#lineChart, #barChart, #donutChart {
	padding-bottom: 1.15rem;
	border-bottom: 1px solid #4B0082;
}

#daily-traffic, #mobile-users {
	margin-top: 1.15rem;
	margin-bottom: 1.75rem;
}

#lineChart {
	height: 230px;
}

#barChart {
	 height: 210px;
 }
 
 #donutChart {
	 width: 260px;
 }
 
 /****************************
SOCIAL MEDIA SECTION
****************************/
 .social-media {
	padding-left: .75rem;
	padding-right: .75rem;
 }
 
 .social-media  h1 {
	margin-top: 1.25rem;
 	font-size: 1.15rem;
	color: #9F86C0;
	margin-bottom: 1rem;
  }

#twitterIconBox {
	position: relative;
	border: 1px solid #8B008B;
	padding: 3.25rem .75rem 3.25rem .75rem;
	background: #D3D3D3;
	border-radius: 6px;
}  

.circlePlacement::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #7851A9;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: #7851A9;
	bottom: 13px;
}
  
.twitter-icon {
	width: 45x;
	height: 45px;
	position: absolute;
	bottom: 25px;
	left: 11%;
} 

.facebook-icon {
	bottom: 32px;
	left: 10%;
	width: 45x;
	height: 45px;
	position: absolute;
} 

.google-icon {
	bottom: 27px;
	left: 11%;
	width: 45x;
	height: 45px;
	position: absolute;
}

#twitterIconBox h2, #facebookIconBox h2, #googleIconBox h2 {
	position: absolute;
	left: 45%;
	color: #4B0082;
	bottom: 60%;
	font-size: 1.15rem;
}

#twitterIconBox h1, #facebookIconBox h1, #googleIconBox h1 {
	position: absolute;
	left: 45%;
	font-size: 2rem;
	bottom: 5%;
}
  
#facebookIconBox, #googleIconBox {
	margin-top: 1.5rem;
	position: relative;
	border: 1px solid #8B008B;
	padding: 3.25rem .75rem 3.25rem .75rem;
	background: #D3D3D3;
	border-radius: 6px;
}  

#bottom-border {
	padding-bottom: 1.55rem;
	border-bottom: 1px solid #4B0082;
}


/****************************
NEW MEMBERS SECTION
****************************/
.new-members {
	padding-left: .75rem;
	padding-right: .75rem;
	position: relative;
}

.new-members #bottom-border {
	padding-bottom: 0;
	margin-bottom: .75rem;
}


#member-heading {
	font-size: 1.15rem;
	color: #9F86C0;
	margin-top: 1.25rem;
	margin-bottom: 1.15rem;
}

.member-pics {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

#member-1 {
	position: relative;
	margin-bottom: .75rem;
}

.member-names {
	color: #4B0082;
	position: absolute;
	font-size: .90rem;
	left: 17%;
	bottom: 35%;
}

.member-email {
	font-size: .70rem;
	position: absolute;
	color: #190236;
	left: 17%;
	bottom: 20%;
}

.join-date {
	color: #4B0082;
	position: absolute;
	font-size: .85rem;
	bottom: 20%;
	left: 80%;
}

#member-2, #member-3, #member-4 {
	border-top: 1px solid #4B0082;
	padding-top: .75rem;
	position: relative;
	margin-bottom: .75rem;
}

#member-2 .member-names, #member-3 .member-names, 
#member-4 .member-names {
	bottom: 27%;
}

#member-2 .member-email, #member-2 .join-date, 
#member-3 .member-email, #member-3 .join-date,
#member-4 .member-email, #member-4 .join-date {
	bottom: 15%;
} 

/****************************
MESSAGE SECTION
****************************/

form {
	margin-top: 1.15rem;
	padding-left: .75rem;
	padding-right: .75rem;
	
}

.message-section label {
	font-size: 1.15rem;
	color: #9F86C0;
	font-weight: bold;
}

#user_searcher {
	margin-top: 1rem;
	width: 100%;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	border: 1.35px solid #8B008B;
	border-radius: 6px;
	font-size: 1rem;
	padding: 8px 0 8px 10px;
	margin-bottom: 1rem;
}

#user_searcher:focus, #user_message:focus {
	outline: none; 
	border: 3px solid #9F86C0;
}

#user_message {
	font-size: 1rem;
	resize: none;
	width: 100%;
	border-radius: 6px;
	border: 1.35px solid #8B008B;
	height: 120px;
	padding: 5px 10px 5px 10px;
	margin-bottom: 1rem;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

fieldset {
	padding: 0;
	border: none;
}

button {
	width: 100%;
	color: white;
	background: #7851A9;
	border-radius: 5px;
	border: 1.35px solid  #4B0082;
	font-size: 1rem;
	padding: 14px 0 14px 0;
	margin-bottom: 1rem;
}

button:focus {
	outline: none; 
}

.message-section #bottom-border {
	padding-bottom: .5rem;
	margin-bottom: .75rem;
}

/****************************
RECENT ACTIVITY
****************************/
.recent-activity {
	padding-left: .75rem;
	padding-right: .75rem;
}


.recent-activity h1 {
	font-size: 1.15rem;
	color: #9F86C0;
	margin-top: 1.25rem;
	margin-bottom: 1.15rem;
}

#activity-1 {
	position: relative;
	margin-bottom: 1.65rem;
}

.activity-update {
	color: #4B0082;
	position: absolute;
	font-size: .90rem;
	left: 17%;
	bottom: 23%;
	font-weight: bold;
}

.time-update {
	left: 17%;
	font-size: .70rem;
	position: absolute;
	color: #190236;
	bottom: -7px;
	font-weight: bold;
}

.arrow-icon {
	position: absolute;
	bottom: 6px;
	left: 90%;
	cursor: pointer;
}

#activity-2, #activity-3, #activity-4 {
	border-top: 1px solid #4B0082;
	padding-top: 1rem;
	position: relative;
	margin-bottom: 1.65rem;
}

#activity-2 .activity-update,
#activity-3 .activity-update,
#activity-4 .activity-update {
	bottom: 15%;
}

.recent-activity #bottom-border {
	padding-bottom: 0rem;
}

/****************************
SETTINGS SECTION
****************************/

.settings-section h1 {
	font-size: 1.15rem;
	color: #9F86C0;
	margin-top: 1.25rem;
	margin-bottom: 1.15rem;
}

.settings-section {
	padding-left: .75rem;
	padding-right: .75rem;
}

.email-div, .profile-div {
	display: flex;
	justify-content: space-between;
}

.email-div {
	margin-bottom: .5rem;
}

/****************************
TOGGLE SWITCH SECTION
****************************/

.settings-section h2 {
	font-size: .85rem;
	color: #190236;
	margin-top: .5rem;
	margin-bottom: 1.15rem;
	display: inline-block;
	
}

.switch-light .switch-ios {
	width: 30px;
}


.switch-ios.switch-light span span {
    color: #A451A9;
	font-weight: bold;
}

.switch-ios.switch-light a {
	background-color: #f5f5f5;
	border: 0.25em solid #D3D3D3;
  }
  
.switch-ios.switch-light > span {
	background-color: #f5f5f5; 
}	
  
.switch-ios.switch-light input:checked ~ span a {
	border-color: #D3D3D3;	
}
  
.switch-ios.switch-light input:checked ~ span {  
	border-color: #B5AB97;
    box-shadow: inset 0 0 0 30px #7851A9;
} 
  
.switch-ios.switch-light input:checked ~ span span:last-of-type {
    color: #f5f5f5; 
	font-weight: bold; }  
  
.switch-light input:focus ~ span a,
.switch-light input:focus + label {
	outline: none;
}  

.on, .off {
	font-weight: bold;
}

/****************************
SELECT DROP DOWN MENU
****************************/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#timezone-options {
	width: 100%;
	padding: 8px 0 8px 10px;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	border: 1.35px solid #8B008B;
	border-radius: 6px;
	font-size: 1rem;
}

#timezone-options:focus {
	outline: none;
	border: 3px solid #9F86C0;
	
}

.timezone-div {
	position: relative;
	margin-top: .75rem;
	margin-bottom: 1.75rem;
}

#downarrow-icon {
	position: absolute;
	bottom: 2px;
	left: 87%;
}

/****************************
SAVE & CANCEL BUTTON
****************************/
.saveAndCancel-div {
	display: flex;
	justify-content: space-between;
}

#save_button {
	margin-right: .5rem;
	font-weight: bold;
	border: 1.5px solid #9575bd;
}

#cancel_button {
	margin-left: .5rem;
	color: #7851A9;
	background-color: #f5f5f5;
	border: 1.5px solid #e8e8e8;	
	font-weight: bold;
}

/****************************
FOOTER
****************************/

footer {
	margin-top: .95rem;
	text-align: center;
	font-style: italic;
	margin-bottom: 1.35rem;
	font-size: 1.15rem;
}



/****************************
MEDIA QUERIES AT 768PX
****************************/


@media (min-width: 768px) {
.menu-link {
	display: none;
}

div nav #menu {
	position: absolute;
	display: inline-block;
	top: 5rem;
}

.panel {
    position: absolute;
    left: 0; /*left or right and the width of your navigation panel*/
    width: 0; /*should match the above value*/
	margin-top: 50px;
}

.lineChartSection {
	display: flex;
}

}


/****************************
MEDIA QUERIES AT 1024PX
****************************/


@media (min-width: 1024px) {	
	
	
	
	
}