/****************************
GENERAL SETTINGS
****************************/
body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;  
	padding: 0;
	background-color: #BCC6CC;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after { 
		content: " ";
		display: table;
		clear: both;
}

/****************************
HEADER SETTINGS
****************************/
header {
	display: flex;
	padding-left: .75rem;
	padding-right: .75rem;
	justify-content: space-between;
	background-color: #D3D3D3;
	padding-bottom: 1.2rem;
}

header h2 {
	display: none;
}

#hamburger-icon {
	margin-right: 1rem;
}

#app-headline {
	margin-top: .25rem;
	margin-left: 5rem;
	margin-right: auto;
}

#app-headline h1 {
	font-size: 1.2rem;
	color: #654597;
}

#bell-icon, #user-picture {
	margin-top: 1rem;
}

.bell-icon {
	margin-right: .4rem;
}

#bell .st0 {
	fill: #830065;
}

#bell {
  width: 30x;
  height: 30px;
  position: relative; /* MUST POSITION PARENT ELEMENT FOR PSEUDO ELEMENTS TO APPEAR*/
}

#bell-icon {
	position: relative;
}

#bell-icon::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #33ff33;
    height: 1.5px;
    width: 1.5px;
    border-radius: 50%;
    background: #33ff33;
    margin-left: 1.1rem;
	bottom: 100%;
}

.profile-image {
	width: 30x;
	height: 30px;
	border-radius: 50%;
}

/****************************
HAMBURGER MENU SETTINGS
****************************/

.nav-toggle {
	margin-top: 1rem;
}

.nav-toggle {
	position: absolute;
	font-size: 1.2rem;
}

.nav-toggle:link,
.nav-toggle:visited {
  color: #C5E7E2;
  background: #AA78A6;
  border-radius: 4px;
  padding: .2rem .4rem;
}

.nav-toggle:hover,
.nav-toggle:active {
  color: #B9FFB7;
  background: #9932CC;;
}

/********************************
SVG NAV LOGOS AND NAV SETTINGS
********************************/

#dashboard .st0 {
	fill: #f5f5f5;
}

#members .st0, #visits .st0, #settings .st0 {
	fill: #9932CC;
}

#dashboard, #members, #visits, #settings {
	width: 30x;
	height: 30px;
}

#svg-icons {
	display: flex;
    flex-direction: row;
	justify-content: space-between;
}

#dashboard-icon, #members-icon, #visits-icon, #settings-icon {
	padding: 1.1rem 0 1.1rem 0;
	text-align: center;
}

.nav-collapse {
	background-color: #8EA9B9;
}

/****************************
SEARCH SECTION
****************************/

#search-section {
	display: flex;
	position: relative;
	justify-content: space-between;

}

#search-headline {
	font-size: 1.15rem;
	color: #9F86C0;
	padding-left: .75rem;
	padding-top: .9rem;
}

/*#search-section::after {
	position: absolute;
	border-left: 1.75px solid #4d4d4d;
	content: "";
	height: 60px;
	margin-left: 0rem;
	top: 0px;
	right: 0px;
	left: 115px;
	border-bottom: 1.75px solid #4d4d4d;
	padding-bottom: .15rem;
	background-color: #6F7D8C;
}*/

#searchbox_div {
	margin-left: 1rem;
	border-left: 1.75px solid #4d4d4d;
	border-bottom: 1.75px solid #4d4d4d;
	background-color: #6F7D8C;
	padding: 1.25rem .75rem .8rem 0rem;
}


#search_icon {
	width: 12px;
	height: 12px;
	position: absolute;
	margin-left: -6px;
	margin-top: -6px;
}

#search-button {
	background: #fff;
	border: none;
	width: 25px;
	height: 12px;
	outline: none;
	position: absolute;
	margin-left: -32px;
	margin-top: 6px;
}

#search_box {
	border-radius: 5px;
	padding: 10px 0 10px 10px;
	width: 80%;
	border: 2px solid #8B008B;
	font-family: 'Ubuntu', sans-serif;
	font-size: .95rem;
	color: #7B68EE;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	margin-left: 1rem;
	position: relative;
}

#search_box:focus {
	outline: none;
	border: 2.15px solid #9F86C0;
}

/****************************
ALERT MESSAGE
****************************/

.alert_message {
	padding-left: 1.15rem;
	padding-right: 1.15rem;
	margin-top: 1.75rem;
	
}

.alert_message strong {
	word-spacing: 8px;
}

.alert_message p {
	background: #4B0082;
	color: #f5f5f5;
	padding: .75rem;
	border-radius: 5px;
	font-size: .83rem;
	line-height: 145%;
}

#x-button {
	background: #4B0082;
	border: none;
	font-size: 1.25rem;
	outline: none;	
	font-weight: bold;
	position: absolute;
	width: 18px;
	height: 10px;
	margin-left: 12px;
	margin-top: -10px;
	width: calc(1% - 200px);
}


/****************************
CHART SECTION
****************************/
.chart-section {
	margin-top: 1.5rem;
}

.lineChartSection, .barChartSection, .donutChartSection {
	position: relative;
	padding-right: .5rem;
	padding-left: .5rem;
}

.chart-section ul {
	display: flex;
	margin-top: 0;
	justify-content: space-between;
	padding-left: .75rem;
	padding-right: .75rem;
	margin-bottom: 1rem;
}

.chart-section ul li {
	margin-right: .25rem;
	margin-left: .25rem;
	font-size: .85rem;
	background-color: #6F7D8C;
	padding: 7px 8px;
	border-radius: 10px;
	color: #f5f5f5;
	margin-bottom: 1.25rem;
}


.chartHeader h1, .chart-section h1 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.15rem;
	color: #9F86C0;
	padding-left: .75rem;
	padding-right: .75rem;
}

.chartHeader ul li:hover,
.chartHeader ul li:focus {
	cursor: pointer;
	color: #e8c8b4;
}

.chartHeader .selected {
	background-color: #B19CD9;
}

#lineChart, #barChart, #donutChart {
	padding-bottom: 1.15rem;
	border-bottom: 1px solid #4B0082;
}

#daily-traffic, #mobile-users {
	margin-top: 1.15rem;
	margin-bottom: 1.75rem;
}

#lineChart {
	height: 230px;
}

#barChart {
	 height: 210px;
 }
 
#donutChart {
	height: 190px;
 }
 
 /****************************
SOCIAL MEDIA SECTION
****************************/
 .social-media {
	padding-left: .75rem;
	padding-right: .75rem;
 }
 
 .social-media  h1 {
	margin-top: 1.25rem;
 	font-size: 1.15rem;
	color: #9F86C0;
	margin-bottom: 1rem;
  }

.circlePlacement::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #7851A9;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background: #7851A9;
	bottom: 13px;
}
  
.twitter-icon {
	width: 45x;
	height: 45px;
	position: absolute;
	bottom: 25px;
	left: 28px;
} 

.facebook-icon {
	bottom: 32px;
	left: 28px;
	width: 45x;
	height: 45px;
	position: absolute;
} 

.google-icon {
	bottom: 27px;
	left: 30px;
	width: 45x;
	height: 45px;
	position: absolute;
}

#facebookIconBox h2 {
	position: absolute;
	right: 70px;
	color: #4B0082;
	bottom: 60%;
	font-size: 1.15rem;
}

#googleIconBox h2 {
	position: absolute;
	right: 78px;
	color: #4B0082;
	bottom: 60%;
	font-size: 1.15rem;
}

#twitterIconBox h2 {
	position: absolute;
	right: 94px;
	color: #4B0082;
	bottom: 60%;
	font-size: 1.15rem;
}

#twitterIconBox h1 {
	position: absolute;
	right: 60px;
	font-size: 2rem;
	bottom: 5%;
}

#facebookIconBox h1, #googleIconBox h1 {
	position: absolute;
	right: 70px;
	font-size: 2rem;
	bottom: 5%;
}

 #twitterIconBox {
	position: relative;
	border: 1px solid #8B008B;
	padding: 3.25rem .75rem 3.25rem .75rem;
	background: #D3D3D3;
	border-radius: 6px;
}   

#facebookIconBox, #googleIconBox {
	margin-top: 1.5rem;
	position: relative;
	border: 1px solid #8B008B;
	padding: 3.25rem .75rem 3.25rem .75rem;
	background: #D3D3D3;
	border-radius: 6px;
}  

#bottom-border {
	padding-bottom: 1.55rem;
	border-bottom: 1px solid #4B0082;
}

/****************************
NEW MEMBERS SECTION
****************************/
.new-members {
	padding-left: .75rem;
	padding-right: .75rem;
	position: relative;
}

.new-members #bottom-border {
	padding-bottom: 0;
	margin-bottom: .75rem;
}

#member-heading {
	font-size: 1.15rem;
	color: #9F86C0;
	margin-top: 1.25rem;
	margin-bottom: 1.15rem;
}

.member-pics {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

#member-1 {
	position: relative;
	margin-bottom: .75rem;
}

.member-names {
	color: #4B0082;
	position: absolute;
	font-size: .90rem;
	left: 46px;
	bottom: 14px;
}

.member-email {
	font-size: .70rem;
	position: absolute;
	color: #190236;
	left: 46px;
	bottom: 6px;
}

.join-date {
	color: #4B0082;
	position: absolute;
	font-size: .85rem;
	bottom: 20%;
	left: 80%;
}

#member-2, #member-3, #member-4 {
	border-top: 1px solid #4B0082;
	padding-top: .75rem;
	position: relative;
	margin-bottom: .75rem;
}

#member-2 .member-names, #member-3 .member-names, 
#member-4 .member-names {
	bottom: 14px;
}

#member-2 .member-email, #member-2 .join-date, 
#member-3 .member-email, #member-3 .join-date,
#member-4 .member-email, #member-4 .join-date {
	bottom: 6px;
} 

/****************************
MESSAGE SECTION
****************************/

form {
	margin-top: 1.15rem;
	padding-left: .75rem;
	padding-right: .75rem;
	
}

.message-section label {
	font-size: 1.15rem;
	color: #9F86C0;
	font-weight: bold;
}

#user_searcher {
	margin-top: 1rem;
	width: 100%;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	border: 1.35px solid #8B008B;
	border-radius: 6px;
	font-size: 1rem;
	padding: 8px 0 8px 10px;
	margin-bottom: 1rem;
}

#user_searcher:focus, #user_message:focus {
	outline: none; 
	border: 3px solid #9F86C0;
}

#user_message {
	font-size: 1rem;
	resize: none;
	width: 100%;
	border-radius: 6px;
	border: 1.35px solid #8B008B;
	height: 120px;
	padding: 5px 10px 5px 10px;
	margin-bottom: 1rem;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

fieldset {
	padding: 0;
	border: none;
}

button {
	width: 100%;
	color: white;
	background: #7851A9;
	border-radius: 5px;
	border: 1.5px solid #9575bd;
	font-size: 1rem;
	padding: 14px 0 14px 0;
	margin-bottom: 1rem;
}

button:focus {
	outline: none; 
}

.message-section #bottom-border {
	padding-bottom: .5rem;
	margin-bottom: .75rem;
}

/****************************
RECENT ACTIVITY
****************************/
.recent-activity {
	padding-left: .75rem;
	padding-right: .75rem;
}

.recent-activity h1 {
	font-size: 1.15rem;
	color: #9F86C0;
	margin-top: 1.25rem;
	margin-bottom: 1.15rem;
}

#activity-1 {
	position: relative;
	margin-bottom: 1.65rem;
}

.activity-update {
	color: #4B0082;
	position: absolute;
	font-size: .90rem;
	left: 46px;
	bottom: 14px;
	font-weight: bold;
}

.time-update {
	left: 46px;
	font-size: .70rem;
	position: absolute;
	color: #190236;
	bottom: -2px;
	font-weight: bold;
}

.arrow-icon {
	position: absolute;
	bottom: -3px;
	left: 90%;
	cursor: pointer;
}

#activity-2, #activity-3, #activity-4 {
	border-top: 1px solid #4B0082;
	padding-top: 1rem;
	position: relative;
	margin-bottom: 1.65rem;
}

#activity-2 .activity-update,
#activity-3 .activity-update,
#activity-4 .activity-update {
	bottom: 14px;
}

.recent-activity #bottom-border {
	padding-bottom: 0rem;
}

/****************************
SETTINGS SECTION
****************************/

.settings-section h1 {
	font-size: 1.15rem;
	color: #9F86C0;
	margin-top: 1.25rem;
	margin-bottom: 1.15rem;
}

.settings-section {
	padding-left: .75rem;
	padding-right: .75rem;
}

.email-div, .profile-div {
	display: flex;
	justify-content: space-between;
}

.email-div {
	margin-bottom: .5rem;
}

/****************************
TOGGLE SWITCH SECTION
****************************/

.settings-section h2 {
	font-size: .85rem;
	color: #190236;
	margin-top: .5rem;
	margin-bottom: 1.15rem;
	display: inline-block;
}

.switch-light .switch-ios {
	width: 30px;
}


.switch-ios.switch-light span span {
    color: #A451A9;
	font-weight: bold;
}

.switch-ios.switch-light a {
	background-color: #f5f5f5;
	border: 0.25em solid #D3D3D3;
  }
  
.switch-ios.switch-light > span {
	background-color: #f5f5f5; 
}	
  
.switch-ios.switch-light input:checked ~ span a {
	border-color: #D3D3D3;	
}
  
.switch-ios.switch-light input:checked ~ span {  
	border-color: #B5AB97;
    box-shadow: inset 0 0 0 30px #7851A9;
} 
  
.switch-ios.switch-light input:checked ~ span span:last-of-type {
    color: #f5f5f5; 
	font-weight: bold; }  
  
.switch-light input:focus ~ span a,
.switch-light input:focus + label {
	outline: none;
}  

.on, .off {
	font-weight: bold;
}

/****************************
SELECT DROP DOWN MENU
****************************/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#timezone-options {
	width: 100%;
	padding: 8px 0 8px 10px;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	border: 1.35px solid #8B008B;
	border-radius: 6px;
	font-size: 1rem;
}

#timezone-options:focus {
	outline: none;
	border: 3px solid #9F86C0;
	
}

.timezone-div {
	position: relative;
	margin-top: .75rem;
	margin-bottom: 1.75rem;
}

#downarrow-icon {
	position: absolute;
	bottom: 2px;
	left: 87%;
}

/****************************
SAVE & CANCEL BUTTON
****************************/
.saveAndCancel-div {
	display: flex;
	justify-content: space-between;
}

#save_button {
	margin-right: .5rem;
	font-weight: bold;
	border: 1.5px solid #9575bd;
}

#cancel_button {
	margin-left: .5rem;
	color: #7851A9;
	background-color: #f5f5f5;
	border: 1.5px solid #e8e8e8;	
	font-weight: bold;
}

/****************************
FOOTER
****************************/
footer {
	margin-top: .95rem;
	text-align: center;
	font-style: italic;
	margin-bottom: 1.35rem;
	font-size: 1.15rem;
}


/****************************
MEDIA QUERIES AT 768PX
****************************/
@media (min-width: 768px) {
	
/****************************
GENERAL SETTINGS AT 768PX
****************************/
footer {
	display: none;
}	
	
.nav-toggle { /* Hamburger icon created by app*/
	display: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;	
}

#main-div {
	display: flex;
	flex-direction: row;
	flex: 1;
}

#content-div {
	flex: 1;
	min-width: 0; /*WOWWWWWWWWWWW, CRITICAL COMPONENT OF sidenavbar */
}

.nav-collapse {
	flex: 0 0 5rem; /* set width of sidenavbar */
}

#svg-icons {
	display: flex;
    flex-direction: column;
	margin-top: .5rem;
}

.sideNavBar {
	background-color: #8EA9B9;
}

#dashboard, #members, #visits, #settings {
	width: 35x;
	height: 35px;
}


/****************************
HEADER SETTINGS AT 768PX
****************************/
header {
	padding: .4rem 1rem .7rem 1rem;
}

#app-headline {
	margin-left: 0;
}

#app-headline h1 {
	font-size: 1.5rem;
}

#bell {
  width: 32px;
  height: 32px;
  margin-right: 1.25rem;
}

#bell-icon {
	margin-top: 1.25rem;
}

#bell-icon::after {
    height: 1.75px;
    width: 1.75px;
    margin-left: 1.15rem;
	bottom: 100%;
}

.profile-image {
	width: 38x;
	height: 38px;
	margin-right: .75rem;
	position: relative;
}

#user-picture::before {
	border-left: 1px solid #6c7a86;
	position: absolute;
	content: "";
	height: 52px;
	margin-left: -1rem;
	margin-top: -.5rem;
}

header h2 {
	font-size: 1.15rem;
	color: #6c7a86;
	margin-top: 1.45rem;
	font-weight: bold;
}

/*******************************
SEARCH & ALERT SECTION AT 768PX
*******************************/

#search-headline {
	font-size: 1.25rem;
}

#searchbox_div {
	width: calc(100% - 130px + 20px);
	display: flex;
	justify-content: flex-end;
	padding: 1.25rem 1rem 1.25rem 0rem;
}

#search_box {
	width: 65%;
	max-width: 360px;
	font-size: 1.1rem;
}

#search-button {
	margin-left: -10px;
}

.alert_message {
	padding-left: 1rem;
	padding-right: 1rem;
}	
	
.alert_message p {
	padding: .95rem;
	font-size: .95rem;
	line-height: 155%;
}

#x-button {
	font-size: 1.65rem;
}

#search_icon {
	width: 16px;
	height: 16px;
}

#search-button {
	height: 17px;
}

/*******************************
CHART SECTION AT 768PX
*******************************/
.chartHeader h1 {
	font-size: 1.25rem;
}

.chart-section ul li {
	margin-right: .25rem;
	margin-left: .25rem;
	font-size: 1rem;
	padding: 8px 10px;
	border-radius: 10px;
	color: #f5f5f5;
	margin-bottom: 0rem;
}

.chartHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: .8rem;
	margin-top: 1.65rem;
}

.barAndDonutChart {
	display: flex;
	justify-content: around;
	border-bottom: 1px solid #4B0082;
	border-top: 1px solid #4B0082;
	margin-top: .75rem;
}

#barChart, #donutChart, #lineChart {
	border-bottom: none;
}
#barChart, #donutChart {
	padding-bottom: .75rem;
}

#donutChart {
	height: 230px;
 }

#mainBarDiv {
	border-right: 1px solid #4B0082;
}

.barAndDonutChart > div {
	width: 50%; /* Get each flex items to take up exactly 50% space*/
}

#lineChart {
	padding-bottom: .75rem;
}

#mainDonutDiv {
	padding-left: 1rem;
}

#daily-traffic, #mobile-users {
	padding: 0;
	font-size: 1.25rem;
}

.donutChartSection  {
	padding-left: 0;
	padding-right: 0;
}

.lineChartSection, .barAndDonutChart {
	position: relative;
	padding-right: 1rem;
	padding-left: 1rem;
}

/*******************************
SOCIAL MEDIA SECTION AT 768PX
*******************************/
#socialMediaFlexContainer {
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
	padding-left: 1rem;
}

#twitterIconBox, #facebookIconBox, #googleIconBox  {
	width: 35%;
}

#twitterIconBox, #facebookIconBox {
	margin-right: 1rem;
}

#facebookIconBox, #googleIconBox {
	margin-top: 0rem;
}  

.social-media {
	padding: 0 0 1.75rem 0;
	border-bottom: 1px solid #4B0082;
}

.social-media h1 {
	padding-left: 1rem;
}

.circlePlacement::after {
    height: 66px;
    width: 66px;
}

.twitter-icon {
	width: 38x;
	height: 38px;
	bottom: 25px;
	left: 30px;
} 

.facebook-icon {
	bottom: 32px;
	left: 28px;
	width: 38x;
	height: 38px;
} 
.google-icon {
	bottom: 27px;
	left: 30px;
	width: 38x;
	height: 38px;
}
#twitterIconBox h2 {
	left: 95px;		
	bottom: 60%;
}

#facebookIconBox h2, #googleIconBox h2  {
	left: 100px;		
	bottom: 60%;
}
#twitterIconBox h1 {
	left: 75px;			
}
#facebookIconBox h1, #googleIconBox h1 {
	left: 83px;		
	bottom: 5%;
}
/*******************************
MEMBERS SECTION AT 768PX
*******************************/
.members-and-activity, .message-and-settings {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #4B0082;
}

.member-email , .time-update {
	font-size: .85rem;
}

.member-names, .activity-update  {
	font-size: .96rem;
}

.new-members {
	border-right:  1px solid #4B0082;
}

.new-members, .message-section, 
.recent-activity, .settings-section { 
	flex: 1 50%; 
}

#member-1, #activity-1 {
	margin-bottom: 1.65rem;
}

#member-2, #activity-2,    /* border spacing*/
#member-3, #activity-3 ,
#member-4, #activity-4 {
	padding-top: 1.15rem;
	margin-bottom: 1.65rem;
}

#member-2 .member-names, #member-3 .member-names, 
#member-4 .member-names, #member-1 .member-names,
#activity-1 .activity-update, #activity-2 .activity-update,
#activity-3 .activity-update , #activity-4 .activity-update {
	bottom: 8px;
}

#member-1 .member-email, #member-1 .join-date, 
#member-2 .member-email, #member-2 .join-date, 
#member-3 .member-email, #member-3 .join-date,
#member-4 .member-email, #member-4 .join-date {
	bottom: 2px;
} 

.time-update {
	bottom: -10px;
}

.arrow-icon {
	bottom: -10px;
}

.message-section label  {
	margin-top: 1.25rem;
    margin-bottom: 1.15rem;
}

.message-section {
	border-right:  1px solid #4B0082;
}

#user_message {
	margin-bottom: 1.15rem;
	height: 140px;
}

#timezone-options {
	margin-top: 2.45rem;
}

#send_button, #save_button, #cancel_button {
	margin-bottom: 1.25rem;
}

.settings-section h2 {
	font-size: .95rem;
}

.message-and-settings {
	padding-bottom: 2rem;
}

/****************************
MEDIA QUERIES AT 1024PX
****************************/
@media (min-width: 1024px) {	
	.nav-collapse {
		flex: 0 0 5.25rem; /* set width of sidenavbar */
	}

	#search_box {
		max-width: 360px;
	}
	
	#daily-traffic, #mobile-users {
		margin-top: 1.5rem;
	}

	#barChart, #donutChart {
		padding-bottom: 1.45rem;
	}

	#barChart {
	 height: 240px;
	}
	
	#donutChart {
		height: 235px;
	}
	
	.social-media {
		padding: 0 0 2rem 0;
	}

	#twitterIconBox, #facebookIconBox {
		margin-right: 1.75rem;
	}

	#twitterIconBox h2, #facebookIconBox h2, #googleIconBox h2 {
		left: 125px;		
	}
	
	#twitterIconBox h1 {
		left: 105px;			
	}

	#facebookIconBox h1, #googleIconBox h1 {
		left: 107px;		
	}	
	
	#activity-1 .activity-update, #activity-2 .activity-update,
	#activity-3 .activity-update , #activity-4 .activity-update {
		bottom: 22px;
	}
	
	#activity-1 .time-update, #activity-2 .time-update,
	#activity-3 .time-update , #activity-4 .time-update {
		bottom: 6px;
	}
	
	#downarrow-icon {
		left: 92%;
	}
	
	.message-and-settings {
		padding-bottom: 2.5rem;
	}
	
	.join-date {
		left: 89%;
	}
	
	.arrow-icon {
		left: 94%;
	}
}